<launch>
	<node name="object_detection" pkg="ada_visual_control" type="object_detection.py" output="screen"/>
  <node name="validation" pkg="ada_visual_control" type="validation.py" output="screen"/>
  <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen"/>
	<include file="$(find ada_visual_control)/launch/init_camera.launch"/>
</launch>
